<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Inventory Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--BOOTSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--CSS-->
        <link rel="stylesheet" href="" th:href="@{/CSS/styles.css}"/>
       
    </head>
    <body th:style="'height:100vh; width: 100%; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/CSS/Images/overlay.jpg), url(/CSS/Images/Background.jpg); background-repeat: no-repeat; background-position: top; background-size: cover;'">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar">
                        <div class="navbar-brand mt-3">
                            <a style="text-decoration: none; color: #fff;" href="/home"><h4>ABC INVENTORY</h4></a>
                        </div>
                        <ul class="nav">
                            <li class="mx-1">
                                <a style="color: #000;" class="nav-link btn btn-light" href="search-supplier">SUPPLIERS</a>
                            </li>
                            <li class="mx-1">
                                <a style="color: #000;" class="nav-link btn btn-light" href="#">PRODUCTS</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div style="margin-top: 15%; transform: translateY(-15%); font-weight: bold;" class="row">
                <div class="col-md-12">
                    <h1 style="font-weight: 700; color: #fff" class="text-center">INVENTORY MANAGEMENT<br>SYSTEM</h1>
                    <p style="color: #fff" class=" h3 text-center">We help you manage & store your products, and suppliers.</p>
                </div>
                <div class="mt-3">
                    <a href="#" style="margin-left: 50%; transform: translateX(-50%);" class="btn btn-light py-3 px-5">Get Started</a>
                </div>
            </div>
        </div>
    </body>
</html>
